@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Thai:wght@100..800&display=swap');
@import "tailwindcss";

* {
  font-family: 'Playpen Sans Thai', sans-serif;
}

.singin-block {
    @apply flex items-center justify-center h-screen ;
}

.signin {
    @apply border border-gray-300 mx-auto flex flex-col space-y-3 bg-white p-4 rounded-lg shadow-lg;
}

.signin input {
    @apply border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-purple-600 ;
}

.signin h1 {
    @apply text-xl font-semibold;
}

.signin button {
    @apply bg-purple-600 text-white rounded-md px-4 py-2 shadow-lg hover:bg-purple-700 transition-colors;
}

body {
    @apply bg-gray-100;
}


/* start sidebar */
.sidebar {
    @apply bg-blue-400 h-screen w-64;
}

.sidebar .header {
    @apply flex flex-col space-y-5 bg-blue-700 text-white pb-5;
}

.sidebar .header h1 {
    @apply text-3xl font-bold text-center mt-5 ;
}

.sidebar .header p {
  @apply text-center text-xl ;
}

.sidebar .body {
  @apply flex flex-col space-y-2 h-screen text-white pt-3 border border-t-white border-l-0 border-r-0 border-b-0
  bg-gradient-to-tr from-blue-700 to-blue-400;
}


.sidebar .body a {
    @apply ps-4;
}

.sidebar .body a i {
    @apply mr-2 w-[22px]
}

.sidebar .header .button {
    @apply flex gap-2 text-sm justify-center;
}

.sidebar .header .button a {
    @apply  border border-yellow-400 px-4 py-2 rounded-lg hover:bg-yellow-600 hover:text-gray-800 transition-colors cursor-pointer;
}
.sidebar .header .button button {
    @apply border border-red-400 px-4 py-2 rounded-lg hover:bg-red-600 hover:text-gray-800 transition-colors cursor-pointer;
}
/* end sidebar */


/* Edit Profile */
.container {
    @apply p-4 bg-blue-300 m-5 rounded-2xl flex flex-col space-y-3 shadow-lg 
}

.container .title {
    @apply text-xl font-bold mb-3
}

.container input {
    @apply w-full border border-gray-500 p-3 rounded-xl bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500
}

.container button {
    @apply bg-blue-500 text-white px-5 py-2 rounded-xl hover:bg-blue-600 transition-colors cursor-pointer shadow-lg
}


/* end Edit Profile */

/* Admin Action Table */
.container table {
    @apply w-full
}

.container table thead th {
    @apply bg-blue-500 text-white font-medium py-2 text-left px-2
}

.container table tbody td {
    @apply bg-blue-200 px-2 py-2 border border-gray-400 border-t-0 border-l-0 border-r-0
}

.container table tbody tr:last-child td:first-child {
    @apply rounded-bl-2xl border-0
}

.container table tbody tr:last-child td:last-child {
    @apply rounded-br-2xl border-0
}

.container table thead tr th:first-child {
    @apply rounded-tl-2xl
}

.container table thead tr th:last-child {
    @apply rounded-tr-2xl
}
    

.container .btn-edit {
@apply bg-yellow-500 rounded-md px-2 py-1 hover:bg-yellow-600 transition-colors cursor-pointer
}
.container .btn-delete {
@apply bg-red-500 rounded-md px-2 py-1 hover:bg-red-600 transition-colors cursor-pointer
}
 /* end Admin Action */
    
/** start modal **/
.modal {
    @apply fixed inset-0 z-50 flex items-center justify-center;
    backdrop-filter: blur(3px);
    @apply bg-black/30;
  }
  
  .modal-container {
    @apply w-full bg-gray-900/90 rounded-xl shadow-2xl border border-gray-700/50 backdrop-blur-sm ring-1 ring-white/10;
  }
  
  .modal-header {
    @apply flex items-center justify-between p-4 border-b;
  }
  
  .modal-title {
    @apply text-lg font-semibold text-gray-400;
  }
  
  .modal-close {
    @apply text-gray-400 hover:text-gray-600 transition-colors;
  }
  
  .modal-body {
    @apply p-4 ;
  }
  
  .modal-body label {
    @apply block mt-4 text-sm font-medium text-gray-400;
  }
  
  .modal-body input, select {
    @apply w-full bg-gray-700 border border-gray-700/50 rounded-md p-2 text-gray-200;
  }
  
  .modal-footer {
    @apply flex justify-end gap-2 p-4 border-t;
  }
  
  .modal-btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors;
  }
  
  .modal-btn-cancel {
    @apply bg-gradient-to-b from-gray-700 to-gray-900 text-gray-300 hover:from-gray-800 hover:to-gray-950 
      border border-gray-600 shadow-lg shadow-gray-500/20 transition-all duration-200 ease-in-out;
  }
  
  .modal-btn-submit {
      @apply bg-gradient-to-b from-emerald-600 to-emerald-800 text-gray-100 hover:from-emerald-700 
        hover:to-emerald-900 shadow-lg shadow-emerald-500/20 transition-all duration-200 ease-in-out;
  }

  .container button.model-btn-order-cancel {
    @apply border border-red-400 bg-gray-800 text-red-400 hover:bg-red-600 hover:text-gray-800 transition-colors cursor-pointer 
  }

  .container button.model-btn-get-money {
    @apply border border-green-400 bg-gray-800 text-green-400 hover:bg-green-600 hover:text-gray-800 transition-colors cursor-pointer 
  }

  .container button.model-btn-send {
    @apply border border-blue-400 bg-gray-800 text-blue-400 hover:bg-blue-600 hover:text-gray-800 transition-colors cursor-pointer 
  }

  /** end modal */

/* start register */
.front label {
@apply block w-full
}

.front form {
@apply flex flex-col gap-4 bg-white p-4
border border-gray-300 rounded-lg shadow-md mt-2
}

.front form input {
@apply border border-gray-400 p-2 rounded-lg
bg-white shadow-md
}

.front form button {
@apply bg-blue-600 text-white rounded-lg px-4 py-2 shadow-lg hover:bg-blue-700 transition-colors
}

/* end register */


/* start cart */
.table {
  @apply w-full mt-2
}

.table thead th {
  @apply bg-gray-800 text-white p-3
}
.table tbody td {
  @apply bg-gray-300 p-2 border border-l-0 border-r-0 border-b-gray-100
}
.table tbody td img {
  @apply rounded-lg m-1
}

.table tbody td .btn-plus {
  @apply bg-green-700 text-white px-3 py-2 rounded-md hover:bg-green-600 transition-colors cursor-pointer 
}

.table tbody td .btn-minus {
  @apply bg-gray-700 text-white px-3 py-2 rounded-md hover:bg-yellow-600 transition-colors cursor-pointer 
}

.table tbody td .btn-delete {
  @apply bg-red-600 text-white px-3 py-2 rounded-md hover:bg-red-600 transition-colors cursor-pointer 
}
/* end cart */
